
@import url(https://fonts.googleapis.com/css?family=Lobster:300,500);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/*==================================================
    GENERIC STYLES
===================================================*/

html {
	font-family: sans-serif;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
	color: yellow;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1::after {
	display: block;
	content: "";
	height: 2px;
	width: 150px;
	background: #E91C1C;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2 {
    line-height: 50px;
	color: yellow;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
	padding-top: 525px;
	line-height: 40px;
	padding-bottom: 400px;
	font-size: 22px;
	font-weight: 900;
}

p {
	padding-top: 30px;
	font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
	color: yellow;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
/*=======================================
  MENU SECTION ANIMATION
  =======================================*/

.menu {
	color: #fff;
	font: bold 24px Rokkitt;
	text-align: center;
	display: inline;
	margin: 0% auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.menu li {
	color: #fff;
	display: inline;
	text-shadow: 3px 2px black;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
	position: relative;
	padding: 23px 1%;
	cursor: pointer;
	transition-property: background;
	transition-duration: .4s;
	transition-delay: 4s;
	transition-timing-function: ease-in-out;
}

.menu li:hover {
	color: #ffff00;
}

.menu-container {
	max-height: 340px;
	margin: 0% auto;
	content: " ";
	width: 100%;
	position: fixed;
	z-index: 100;          
}


.navbar {
	height: 105px;
	max-height: 340px;
	display: block;
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap { 
	height: 100%;
	width: 100%; 
	position: absolute;
	overflow: hidden;
	top: 0; 
	left: 0; 
	text-align: right; 
} 

.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: #484848;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

.container-fluid {  
  padding-right: 15px;  
  padding-left: 15px;  
  margin-right: auto;  
  margin-left: auto;  
}  

.container {
  padding-right: 15px; 
  padding-left: 15px; 
  margin-right: auto; 
  margin-left: auto;
  position: relative;
  width: 50%;
}

/*=======================================
  SECTION STYLES
  =======================================*/
#home {
	background: url(../img/mybike4.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: auto;
	height: 1991;
	/* width: 3253; */
	width: 100%;
	height: 100%;
	padding-bottom: 474px;
	color: #000;
	background-color: #000;
} 
#skills {
	background: url(../img/alienware3.jpg) no-repeat; 
	z-index: 1;
	background-color: #000;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 114%;
	display: auto;
	height: 902;
	width: 1651;
	padding-top: 0px; 
	/* padding-bottom: 777px;    */
	padding-bottom: 100px;
}
#portfolio {
	background-color: #585858;
	display: auto;
	height: auto;
	width: auto;
	padding-top: 0px; 
	padding-bottom: 324px;    
}
#experience {
	background: url(../img/experience.jpg) no-repeat; 
	z-index: 1;
	background-color: #fff;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	display: auto;
	height: auto;
	width: auto;
	padding-top: 0px; 
	padding-bottom: 200px;      
}
#contact {
	background: url(../img/globe.png) no-repeat; 
	z-index: 1;
	background-color: #fff;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	padding-top: 0px; 
	padding-bottom: 20px;
}

.head-name {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	color: #ffff00;
	letter-spacing: 1pt;
	word-spacing: 1pt;
	font-size: 2em;
	text-align: left;
	font: 32px Rokkitt;
	font-style: normal;
	line-height: 1;
    font-weight: 900;
    padding-left: 50px;
	padding-top: 20px;
}

.head-title {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	color: #ffff00;
	letter-spacing: 1pt;
	word-spacing: 2pt;
	font-size: 2em;
	text-align: left;
	font: 32px Rokkitt;
	font-style: italic;
	line-height: 1;
    font-weight: 900;
    padding-left: 50px;
	padding-top: 0px;
}

.head-main {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	color: #fffffa;
	letter-spacing: 2pt;
	word-spacing: 10pt;
	font-size: 6em;
	text-align: left;
	font-family: "Permanent Marker";
	line-height: 1;
    font-weight: 900;
    padding-left: 260px;
	padding-top: 40px;
}

.head-main2 {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	color: #fffffa;
	letter-spacing: 2pt;
	word-spacing: 10pt;
	font-size: 6em;
	text-align: left;
	font-family: "Permanent Marker";
	line-height: 1;
    font-weight: 900;
    padding-left: 460px;
	padding-top: 20px;
}
.head-main3 {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	color: #fffffa;
	letter-spacing: 1pt;
	word-spacing: 10pt;
	font-size: 6em;
	text-align: left;
	font-family: "Rokkitt";
	line-height: 1;
    font-weight: 900;
    padding-left: 660px;
	padding-top: 20px;
}

.quote1 {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	color: #ffff00;
	letter-spacing: 1pt;
	word-spacing: 2pt;
	font-size: 2em;
	text-align: center;
	font: 32px Rokkitt;
	font-style: italic;
	line-height: 1;
    font-weight: 900;
    padding-left: 0px;
	padding-top: 130px;
}
.quote2 {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	color: #ffff00;
	letter-spacing: 1pt;
	word-spacing: 2pt;
	font-size: 2em;
	text-align: center;
	font: 32px Rokkitt;
	font-style: italic;
	line-height: 1;
    font-weight: 900;
    padding-left: 50px;
	padding-top: 120px;
	padding-bottom: 80px;
}

.icontext1 {  
  font-size: 20px; 
  position: absolute; 
  left: -118px;  
  top: 140px; 
  text-align: left;
}
.icontext2 {  
  font-size: 20px; 
  position: absolute; 
  left: -126px;  
  top: 276px;  
  text-align: left; 
}
.icontext3 {  
  font-size: 20px; 
  position: absolute; 
  left: -126px;
  top: 430px;
  text-align: left;
}
.icontext4 {  
  font-size: 20px; 
  position: absolute; 
  left: 734px; 
  top: -200px; 
  text-align: right; 
}
.icontext5 { 
  font-size: 20px; 
  position: absolute; 
  left: 814px; 
  top: -60px; 
  text-align: right; 
}
.icontext6 {  
  font-size: 20px; 
  position: absolute; 
  left: 814px; 
  top: 98px; 
  text-align: right; 
} 
.icontext7 {  
  font-size: 20px; 
  position: absolute; 
  left: 367px; 
  top: 3792px; 
  text-align: left; 
}
.icontext8 {  
  font-size: 20px; 
  position: absolute; 
  left: 840px; 
  top: 3792px; 
  text-align: left; 
} 
.icontext9 {  
  font-size: 20px; 
  position: absolute; 
  left: 1338px; 
  top: 3792px; 
  text-align: left; 
}

.hcjicon {
	position: relative;
	left: -270px;
	top: 100px;
	background-image: url(../img/html_css.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 121px;
	height: 110px;
}
#exptexthcj {
	position: relative;
    display: none;
    font-size: 20px;
	color: blue;
}
#icons:hover #exptexthcj {
	display: block;
}
.hcjicon:hover {
	opacity: .30;
}
.giticon {
	position: relative;
	left: 1092px;
	top: -228px;
	background-image: url(../img/git_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 121px;
	height: 110px;
}
#exptextgit {
	position: relative;
    display: none;
    font-size: 20px;
	color: blue;
}
#icons:hover #exptextgit {
	display: inline;
}
.giticon:hover {
	opacity: .50; 
} 

.sqlicon {
	position: relative;
	left: -267px;
	top: 130px;
	background-image: url(../img/sql_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 121px;
	height: 110px;
}
#exptextsql {
	position: relative;
    display: none;
    font-size: 21px;
	color: green;
}
#icons:hover #exptextsql {
	display: block;
}

.sqlicon:hover {
	opacity: .30;
}

.msnicon {
	position: relative;
	left: 1065px;
	top: -210px;
	background-image: url(../img/msn.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 136px;
	height: 134px;
}
#exptextmsn {
	position: relative;
    display: none;
    font-size: 21px;
	color: green;
}
#icons:hover #exptextmsn {
	display: inline;
}

.msnicon:hover {
	opacity: .30;
}

.pythonicon {
	position: relative;
	left: -270px;
	top: 172px;
	background-image: url(../img/python_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 121px;
	height: 110px;
}
#exptextpyt {
	position: relative;
    display: none;
    font-size: 21px;
	color: yellow;
}
#icons:hover #exptextpyt {
	display: inline;
}
.pythonicon:hover {
	opacity: .30;
}

.agileicon {
	position: relative;
	left: 1060px;
	top: -177px;
	background-image: url(../img/agile_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 121px;
	height: 110px;
}
#exptextagile {
	position: relative;
    display: none;
    font-size: 21px;
	color: yellow;
}
#icons:hover #exptextagile {
	display: inline;
}

.agileicon:hover {
	opacity: .30;
}

.navyicon {
	position: relative;
	left: 198px;
	top: 230px;
	background-image: url(../img/navy_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 243px;
	height: 241px;
}
.cloudicon {
	position: relative;
	left: 733px;
	top: -41px;
	background-image: url(../img/cloud.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 410px;
	height: 304px;
}
.techicon {
	position: relative;
	left: 1379px;
	top: -260px;
	background-image: url(../img/tech_logo.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 294px;
	height: 183px;
}
.phoneicon {
	position: relative;
	left: 318px;
	top: 102px;
	background-image: url(../img/phone.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 299px;
	height: 229px;
}
#contextphone {
	position: relative;
    display: none;
	left: 30px;
	top: 422px;
    font-size: 21px;
	color: yellow;
}
#conticons:hover #contextphone {
	display: inline;
}
.phoneicon:hover {
	opacity: .30;
}

.emailicon {
	position: relative;
	left: 806px;
	top: -118px;
	background-image: url(../img/email.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 312px;
	height: 273px;
}
#contextemail {
	position: relative;
    display: none;
	left: 8px;
	top: 420px;
    font-size: 21px;
	color: yellow;
}
#conticons:hover #contextemail {
	display: inline;
}
.emailicon:hover {
	opacity: .30;
}

.resumeicon {
	position: relative;
	left: 1332px;
	top: -420px;
	background-image: url(../img/resume.png);
	z-index: 2;
	background-repeat: no-repeat;
	width: 229px;
	height: 279px;
}
#contextresume {
	position: relative;
    display: none;
	left: 8px;
	top: 418px;
    font-size: 21px;
	color: yellow;
}
#conticons:hover #contextresume {
	display: inline;
}

.resumeicon:hover {
	opacity: .30;
}

.head-sub-main {
    font-size: 23px ;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
	text-transform: uppercase; 
	animation-delay: 2s;
}

.head-last {
    font-size: 18px ;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*=======================================
  Contact STYLES
  =======================================*/

  
#contactlink { 
	position: relative; 
    font-size: 24px; 
	left: 743px; 
	top: -88px; 
	color: yellow; 
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.contact-name {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	color: yellow;
	letter-spacing: 1pt;
	word-spacing: 1pt;
	font-size: 2em;
	text-align: left;
	font: 24px Rokkitt;
	font-style: normal;
	line-height: 1;
    font-weight: 900;
    padding-left: 50px;
	padding-top: 20px;
}

