
@import url(https://fonts.googleapis.com/css?family=Lobster:300,500);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/*==================================================
    GENERIC STYLES
===================================================*/

/* html { */
	/* font-family: sans-serif; */
	/* font-size: 62.5%; */
	/* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
	/* -webkit-text-size-adjust: 100%; */
	/* -ms-text-size-adjust: 100%; */
	/* scroll-behavior: smooth; */
/* } */

/* body { */
    /* font-size: 14px; */
	/* margin: 0; */
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* line-height: 1.42857143; */
	/* color: #333; */
	/* background-color: #fff; */
/* } */

body, html{
    margin:0;
    padding:0;
    background:black;
	scroll-behavior: smooth;
}
img{
    position:absolute;
    top:0;
    display:none;
    width: auto;
    height: auto;
	max-width: 100%;
	z-index: -1;
	background-size: auto;
	/* background-position: center; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
	color: yellow;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1::after {
	display: block;
	content: "";
	height: 2px;
	width: 150px;
	background: #E91C1C;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2 {
    line-height: 50px;
	color: yellow;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
	padding-top: 525px;
	line-height: 40px;
	padding-bottom: 400px;
	font-size: 22px;
	font-weight: 900;
}

p {
	padding-top: 30px;
	font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
	color: yellow;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*=======================================
  MENU SECTION ANIMATION
  =======================================*/

.wrap { 
	height: auto;
	width: 100%; 
	position: absolute;
	overflow: hidden;
	top: 0; 
	left: 0; 
	text-align: center; 
} 
.menu-container { 
	height: auto;
	width: 100%; 
	z-index: 100;
	position: fixed;
	top: 0; 
	padding: 0px 0px;
} 
.menuleft {
	font: bold 24px Rokkitt;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 8px 8px;
	border-bottom: 4px solid #678;
	background-color: rgba(128,128,128,0.5);
}
.menuright {
	font: bold 24px Rokkitt;
	float: right;
}
.menuleft ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0; 
}
.menuright ul { 
	list-style: none; 
	width: 100%; 
	margin: 0; 
	padding: 0;  
}
.menuright li {
	display: inline;
	text-shadow: 2px 2px black;
	list-style-type: none;
    margin: 0;
	position: relative;
	cursor: pointer;
	transition-property: background;
	transition-duration: .4s;
	transition-delay: 4s;
	transition-timing-function: ease-in-out;
	float: right;
}
.menuleft li {
	display: inline;
	text-shadow: 1px 1px black;
	list-style-type: none;
    margin: 0;
	position: relative;
	cursor: pointer;
	transition-property: background;
	transition-duration: .4s;
	transition-delay: 4s;
	transition-timing-function: ease-in-out;
	float: left;
}
.menuright li a {
	display: block;
	padding: 12px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #fafafa;
}
.menuleft li a {
	display: block;
	padding: 12px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #fafafa;
}
.menuright li a:hover {
	color: #ffff00; 
}
.menuleft li a:hover {
	color: #ffff00; 
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: #484848;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

.container-fluid {  
  padding-right: 15px;  
  padding-left: 15px;  
  margin-right: auto;  
  margin-left: auto;  
}  

.container {
  padding-right: 15px; 
  padding-left: 15px; 
  margin-right: auto; 
  margin-left: auto;
  position: relative;
  width: 50%;
  /* float: right; */
}

/*=======================================
  SECTION STYLES
  =======================================*/
#home {
	position: relative;
	z-index: 1;
	background: url(../img/background2.jpg) no-repeat;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: 100%;
	display: 100%;
	height: auto;
	width: auto;
	padding-top: 0px;
	padding-bottom: 0px;
} 
#page2 {
	position: absolute;
	z-index: 0;
	/* opacity: 0.4; */
	top: 960px;
	background: url('../img/page2.png') no-repeat; 
	background-color: #000;
	-webkit-background-size: auto;
	 -moz-background-size: auto; 
	 -o-background-size: auto; 
	background-size: 100%;
	display: 100%;
	/* height: 1902px; */
	height: 940px;
	width: 100%;
	max-width: 100%;
	background-size: cover;
	background-position: center;
}
#shadow {
	position: absolute; 
	opacity: 0.2;
	background-image: url('../img/shadow.png');
	z-index: 2; 
	top: 700px;
	width: 100%;
	height: 268px;
	max-width: 100%;
	background-size: cover;
	background-position: center;
}	
	
#head-title {
	position: absolute; 
	opacity: 0.9;
	background-image: url('../img/Header.png');
	z-index: 3; 
	width: 100%;
	height: 603px;
	max-width: 100%;
	background-size: cover;
	background-position: center;
}

#footer {
	position: absolute; 
	/* opacity: 0.9; */
	left: 0px;
	top: 336px;
	background: url('../img/footer.png') no-repeat; 
	z-index: 1; 
	width: 100%;
	height: 597px;
	background-size: 100%;
	max-width: 100%;
	/* background-position: center; */
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 8px;
	padding:1px;
	border:2px solid #021a40;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
	-webkit-align-content: right;
    align-content: right;
}

#spacer {
	position: absolute; 
	opacity: 0.99;
	background-image: url('../img/spacer.png');
	z-index: 2; 
	/* left: -66px; */
	top: 630px;
	background-size: auto;
	display: auto;
	width: 100%;
	/* width: 372px; */
	height: 101px;
	max-width: 100%;
	background-repeat: no-repeat;
	/* background-position: center; */
    /* padding-left: 0px;  */
	/* padding-top: 1400px; */
}
#video-tour-button {
	position: absolute; 
	opacity: 0.99;
	background-image: url('../img/VideoTourButton.png');
	z-index: 3; 
	left: 704px;
	top: 590px;
	background-size: cover;
	display: inline-block;
	width: 372px;
	height: 111px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#left-mid {
	position: absolute; 
	opacity: 0.9;
	background-image: url('../img/leftmid.png');
	z-index: 3; 
	left: 564px;
	top: 704px;
	background-size: cover;
	display: inline-block;
	width: 319px;
	height: 135px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#right-mid1 {
	position: absolute; 
	opacity: 0.9;
	background-image: url('../img/right-mid1.png');
	z-index: 3; 
	left: 880px;
	top: 712px;
	background-size: cover;
	display: inline-block;
	width: 170px;
	height: 117px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#right-mid2 {
	position: absolute; 
	opacity: 0.9;
	background-image: url('../img/right-mid2.png');
	z-index: 3; 
	left: 1049px;
	top: 712px;
	background-size: cover;
	display: inline-block;
	width: 170px;
	height: 117px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#down-button {
	position: absolute; 
	opacity: 0.9;
	background-image: url('../img/downbutton.png');
	z-index: 3; 
	left: 858px;
	top: 863px;
	background-size: cover;
	display: inline-block;
	width: 54px;
	height: 52px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#up-button {
	position: absolute; 
	/* opacity: 0.99; */
	background-image: url('../img/upbutton.png');
	z-index: 3; 
	left: 858px;
	top: 40px;
	background-size: cover;
	display: inline-block;
	width: 54px;
	height: 52px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

#thumbnails {
	position: relative; 
	z-index: 0; 
	top: 140px;
	background-size: cover;
	display: auto;
	width: 483px;
	height: 548px;
	max-width: 100%;
	background-size: 100%;
	display: auto;
	background-repeat: no-repeat;
	/* overflow: hidden; */
}

#thumbs1 {
	position: relative; 
	background-image: url('../img/thumbs/th1.png');
	z-index: 0; 
	left: 40px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs2 {
	position: absolute; 
	background-image: url('../img/thumbs/th2.png');
	z-index: 0; 
	left: 221px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs3 {
	position: absolute; 
	background-image: url('../img/thumbs/th3.png');
	z-index: 0; 
	left: 402px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs4 {
	position: absolute; 
	background-image: url('../img/thumbs/th4.png');
	z-index: 0; 
	left: 583px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs5 {
	position: absolute; 
	background-image: url('../img/thumbs/th5.png');
	z-index: 0; 
	left: 764px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs6 {
	position: absolute; 
	background-image: url('../img/thumbs/th6.png');
	z-index: 0; 
	left: 945px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs7 {
	position: absolute; 
	background-image: url('../img/thumbs/th7.png');
	z-index: 0; 
	left: 1126px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs8 {
	position: absolute; 
	background-image: url('../img/thumbs/th8.png');
	z-index: 0; 
	left: 1306px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs9 {
	position: absolute; 
	background-image: url('../img/thumbs/th9.png');
	z-index: 0; 
	left: 1486px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}
#thumbs10 {
	position: absolute; 
	background-image: url('../img/thumbs/th10.png');
	z-index: 0; 
	left: 1666px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	width: 166px;
	height: 166px;
}

#photo-viewer {
	z-index: 5;
	/* relative */
	position: absolute;
	height: 300px;
	overflow: hidden;
}

#photo-viewer.is-loading:after {
	content: url('./img/upbutton.png');
	position: absolute;
	top: 0;
	right: 0;
}

#photo-viewer img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
}

a.active {
	opacity: 0.3;
}